<a href="https://colab.research.google.com/github/kimtienvu/CS_Undergrad_Notes/blob/master/Python_Basics_COGS_108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basics to help with COGS 108 Programming Assignments**

**1. How to print (useful for debugging variables)**

In [2]:
print("hello world!") # Notice there are no semi-colons like in Java or C

hello world!

**2. Go Over Different Data Types!**
* Strings
* Integers
* Floats
* Lists
* Tuples
* Dictionaries

In [3]:
# Strings (snake_case is the convention for strings)
first_name = "first"  # Notice there are no semi-colons
last_name = "last"
print(first_name + " " + last_name)

first last

In [6]:
# Integers
a = 100
b = 2
c = -5

# Need to convert integer to string using the str() method in order to print.
# The print method prints out ONLY strings OR integers

# This will not work: print("a = " + a)

# This will work:
print(a)
print("a = " + str(a)) 
print("b = " + str(b))
print("c = " + str(c))

total = a + b + c

print("Total = " + str(total))

100
a = 100
b = 2
c = -5
Total = 97

In [10]:
# Floats (decimals)
d = 1.1
e = 3.14
f = 7 # This is an integer

# Must convert to string to print out (similar to integers)
# This will not work:
# print("d = " + d)

# This will work
print("d = " + str(d))
print("e = " + str(e))
print("f = " + str(f))

float_total = d + e + f # You can do arithmetic with integers and floats

print("float total = " + str(float_total))

d = 1.1
e = 3.14
f = 7
float total = 11.24

A List is like an array in Java or C. They are declared with `[]` and can hold any data type. Lists can hold lists inside them (like 2D arrays in Java) and each list item is separated by a `,`.

In [27]:
# Declare an empty list:
empty_list = []

# Get the length of a list
print(len(empty_list)) # This returns 0

animals = ['cat', 'dog', 'fish']
print(len(animals)) # Returns 3

# List of Lists
List_2D = [['a','b','c'], [1,2,3]]
print(len(List_2D)) # Length would be 2

# Accessing elements in a List
print("index 0 " + animals[0]) # Lists are zero-indexed!
print("index 1 " + animals[1])
print("index 2 " + animals[2])

# Accessing Lists inside Lists
print("index 0:0 " + List_2D[0][0]) # [first list][first element of this list]
print("index 0:1 " + List_2D[0][1])
print("index 0:2 " + List_2D[0][2])

# Need to convert to string if element is an int and trying to print!
print("index 1:0 " + str(List_2D[1][0])) # [second list][first element of this list]
print("index 1:1 " + str(List_2D[1][1]))
print("index 1:2 " + str(List_2D[1][2]))

# TIP: If you need to check the type of element you have in Python, use the type() method:
# Ex: Get the type of the animals variable:
print(type(animals)) # Returns <class 'list'> --> This means that the animals variable is a type List.

0
3
2
index 0 cat
index 1 dog
index 2 fish
index 0:0 a
index 0:1 b
index 0:2 c
index 1:0 1
index 1:1 2
index 1:2 3
<class 'list'>

You can also use loops to print out elements inside a list.

In [31]:
# NOTE: DO NOT HARDCODE THE LENGTH OF THE LOOP! Even if you know the length is a constant number like 5, use len() to denote the end of a list, dictionary, etc.

# For loop example
print("for loop")
# You can replace "el" with any word (this is the "i" in a Java or C loop)
for el in animals: # Notice there are no brackets, Python for loops use a colon (:) and indent all the lines of code inside the for loop
  print(el)

# While loop example
print("while loop")
x = 0
while x < len(animals):
  print(animals[x])
  x = x + 1

for loop
cat
dog
fish
while loop
cat
dog
fish

**Tuples are like lists, only they are unchangeable and created with `()`**

In [34]:
number_tuple = (1, 3, 5, 7)
print(len(number_tuple)) # Returns length of 4

# You access elements like you access lists
print(number_tuple[0]) # Returns 1
print(number_tuple[1]) # Returns 3
print(number_tuple[2]) # Returns 5
print(number_tuple[3]) # Returns 7

4
1
3
5
7

A Dictionary is like a 2D Array that is organized by key:value and created with `{}`

In [38]:
# Create an empty dictionary
dictionary_empty = {}

print(type(dictionary_empty)) # Returns 'dict' (dictionary) as the type
print(len(dictionary_empty)) # Returns 0

dictionary_num = {'even': 2, 'odd':3} # Keys and values do not have to be the same data type

# Access a value with the key
print("dictionary values: ")
print(dictionary_num['even']) # Returns 2
print(dictionary_num['odd']) # Returns 3

<class 'dict'>
0
dictionary values:
2
3

**3. If-Else statements** (Similar to Java and C, but with syntax differences)

In [40]:
age = 10
if age < 18:
  print("You are a minor")
else:
  print("You are NOT a minor XD")

grade = 95
if grade < 70:
  print("Try Harder!")
elif grade < 80:
  print("Doing Good!")
elif grade < 90:
  print("Doing Great!")
else:
  print("You're such a perfectionist!")

You are a minor
You're such a perfectionist!

**4. Writing Functions**

In [47]:
# You WILL be asked to write functions, sometimes helper functions to incorporate into pre-existing functions given to you

# Function with 0 arguments
def say_hi():
  print("HI!")

def add1(x): # Define the function, parameters do NOT need a data type
  return x + 1 

y = add1(11)

say_hi()
print(y)

HI!
12